<h1>Kudos Feed 🎉</h1>

<p>
  <%= link_to "➕ Send a Kudo", new_kudo_path, class: "send-kudo-link" %>
</p>

<% if @kudos.any? %>
  <ul>
    <% @kudos.each do |kudo| %>
      <li>
        <strong><%= kudo.sender.username %></strong>
        → <strong><%= kudo.receiver.username %></strong><br>

        <em><%= kudo.category %></em><br>

        <p><%= kudo.message %></p>

        <small>
          <%= kudo.created_at.strftime("%d %b %Y %H:%M") %>
        </small>
      </li>
      <hr>
    <% end %>
  </ul>
<% else %>
  <p>No kudos yet.</p>
<% end %>

<hr>

<h2>My Kudos 💌</h2>

<% if @received_kudos.any? %>
  <ul>
    <% @received_kudos.each do |kudo| %>
      <li>
        <strong>From:</strong> <%= kudo.sender.username %><br>

        <em><%= kudo.category %></em>

        <p><%= kudo.message %></p>

        <small>
          <%= kudo.created_at.strftime("%d %b %Y %H:%M") %>
        </small>
      </li>
      <hr>
    <% end %>
  </ul>
<% else %>
  <p>You haven’t received any kudos yet 🌱</p>
<% end %>
