<!DOCTYPE html>
<html>
  <head>
    <title>UmgundiHoldings</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if current_user && !Rails.env.test? %>
      <%= render "shared/navbar" %>
    <% end %>

    <!-- Flash messages -->
    <% flash.each do |type, message| %>
      <div
        class="flash <%= type %>"
        data-controller="flash"
      >
        <%= message %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
